header
    h1
        text-align: center
        font-family: Poppins-Light
        margin-top: 10px
    nav
        font-family: Poppins-Light
        // .navbar-toggler-icon
        //     @include media-breakpoint-down(sm)
        //         display: flex
        //         justify-content: center
        //         align-items: center
        //         color: red
        .collapse 
            display: flex
            align-items: center
            justify-content: center
            margin: 16px
            margin-top: 25px
            ul
                margin: 10px
                li
                    margin: 10px
                    @include media-breakpoint-down(sm)
                        display: flex
                        justify-content: center
                        align-items: center
                        padding-right: 0px
                    .black, .blanc
                        border-radius: 5px
                        height: 30px
                        width: 30px
                        border: 1px solid grey
                    a
                        @include media-breakpoint-down(sm)
                            display: flex
                            justify-content: center
                            align-items: center
                .sign
                    width: 130px
                    height: 40px
                    border-radius: 7px
                #emporium2
                    display: none    
.sticky 
    position: fixed
    top: 0
    width: 100%
    background-color: white
    z-index: 1000
    border-bottom: 2px solid grey                    