body
    margin: 0
    .emporium
        font-family: Poppins-Bold
        @include media-breakpoint-only(sm)
        display: none
        @include media-breakpoint-only(md)
        display: none
    .navbar
        font-family: Poppins-Light
        li
            margin-right: 50px
            font-size: 12px
            a
                font-weight: bold
        button
            border-radius: 0%
            font-weight: bold
        .btn-black, .btn-blanc
            border-radius: 5px
            height: 30px
            width: 30px
            border: 1px solid grey