.hot
    font-family: Poppins-Light
    p,span
        font-weight: bold
    p
        padding-top: 20px    
    img
        height: 150px
    button
        border-radius: 100%
        padding: 20px;