// .living
//     color: white
//     .column
//         // float: left
//         // width: 50%
//         // padding: 0 200px
//         // display: block
        
//         // align-items: center
    
//     .LR
//         justify-content: space-around;
//         align-items: center
//         text-align: center
//         background-image: url("../img/services/service-1.jpg")
//         background-size: cover
//         height: 300px  
//         width: 200px
//         flex-direction: column
        

//     .SI
//         justify-content: space-around;
//         align-items: center
//         background-image: url("../img/services/service-2.jpg")
//         background-size: contain
//         height: 300px
//         width: 250px
//         text-align: center
//         flex-direction: column
        
//     .clt
//         justify-content: space-around;
//         align-items: center
//         background-image: url("../img/services/slider-3.jpg")
//         background-size: cover       
//         height: 300px
//         width: 250px
//         text-align: center
//         flex-direction: column
        
//     hr
//         border: 1px solid white 
//         width: 200px

.sliders
    .row
        .living
            background-image: url('../img/services/service-1.jpg')
            background-size: contain
            height: 320px
            width: 450px
            background-repeat: no-repeat
            background-position: center
            display: flex
            align-items: center
            justify-content: center
            text-align: center
            flex-direction: column
            color: white
            font-family: Poppins-light
            hr
                color: white
                border: 1px solid
                width: 200px
        .sale
            background-image: url('../img/services/service-2.jpg')
            background-size: contain
            height: 320px
            width: 450px
            background-repeat: no-repeat
            background-position: center
            display: flex
            align-items: center
            justify-content: center
            text-align: center
            flex-direction: column
            color: white
            font-family: Poppins-light
            hr
                color: white
                border: 1px solid
                width: 200px
        .clothes
            background-image: url('../img/services/slider-3.jpg')
            background-size: contain
            height: 320px
            width: 450px
            background-repeat: no-repeat
            background-position: center
            display: flex
            align-items: center
            justify-content: center
            text-align: center
            flex-direction: column
            color: white
            font-family: Poppins-light
            hr
                color: white
                border: 1px solid
                width: 200px

       