.recents
    font-family: Poppins-Light
    margin-left: 0px
    .div
        margin-right: 0px
        margin-left: 0px
        @include media-breakpoint-only(sm)
        padding-right: 0px
        display: flex
        justify-content: center
        align-items: center
        position: absolute
    p,span
        font-weight: bold
    p
        padding-top: 20px 
    .span
        // height: 50px
    img
        height: 250px    
    button
        border-radius: 100%
        padding: 20px;
    @include media-breakpoint-only(sm)
        display: flex
        justify-content: center
        align-items: center
        padding: 0