.shopat
    background-color: #F3F3F3 
    height: 450px
    @include media-breakpoint-only(sm)
    top: 50px

    .shop
        padding-left: 200px;
        font-family: Poppins-Light
        font-weight: bold
        color: rouge
        font-size: 52px
        padding-top: 100px;
        p
        @include media-breakpoint-only(sm)
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center
        
        @include media-breakpoint-only(md)
        padding-left: 0;
    .imglogo
        padding-left: 200px;
        height: 115px;
        
        @include media-breakpoint-only(md)
        height: 60px
        padding-left: 0px
    .wonderful
        padding-left: 200px;
        font-family: Poppins-Light
        color: #535353
    .btnshop
        border-radius: 30px
        padding: 10px
        font-family: 12px
        border: none
        margin-left: 200px
        padding-left: 30px;
        padding-right: 30px;
        font-size: 12px
        align-items: center
        display: flex;
        justify-content: center;
    .slider
        z-index: 2;
        right: 25%
        top: 50%
        height: 400px
        position: absolute 
        @include media-breakpoint-only(sm)
        height: 450px
        width: 400px
        // z-index: 2;
        @include media-breakpoint-only(md)
        left: 0%
        display: flex;
        justify-content: center;
        align-content: center;